<!DOCTYPE html>
<html>
  <head>
    <title>Dredge</title>
  </head>
  <body>
    <header>
      <h1>Dredge</h1>
    </header>
    <section id="main">
      <%= yield %>
    </section>
    <footer>
      <p>Dredge &copy; <a href="https://github.com/lmars">Lewis Marshall</a> <%= Time.now.strftime('%Y') %></p>
    </footer>
  </body>
</html>
